/*@import url(snippets.css);*/

#main {
	position: absolute;
	width: 241px;
	height: 361px;
	left: 50%;
	top: 50%;
	margin-left: -120px;
	margin-top: -180px;
	background: url(../images/logo-with-text.png) no-repeat; /* 241 x 361 */
	overflow: hidden;
}
