/*@import url(snippets.css);*/

#main {
	position: absolute;
	width: 290px;
	height: 436px;
	left: 50%;
	top: 50%;
	margin-left: -145px;
	margin-top: -218px;
	background: url(../images/logo-with-text.png) no-repeat;
	overflow: hidden;
}
